<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <filter>
           <whitelist addUncoveredFilesFromWhitelist="false">
               <directory suffix=".php">./pages</directory>
               <exclude>
                   <directory suffix=".php">vendor</directory>
                   <directory suffix=".php">./pages/Test</directory>
               </exclude>
           </whitelist>
       </filter>


</phpunit>
